<div class="jumbotron">
  <h1>FarmaSinos</h1>
  <p>Sistema para gerenciamento de estoque de medicamentos e outros itens da FarmaSinos.</p>
  <p><%= link_to "Cadastrar", new_user_registration_path, :class => 'btn btn-primary btn-lg'  %>&nbsp;&nbsp;<%= link_to "Logar", new_user_session_path, :class => 'btn btn-primary btn-lg'  %></p>
</div>
