<div class="jumbotron">
  <h1>FarmaSinos</h1>
  <p>Sistema para gerenciamento de estoque de medicamentos e outros itens da FarmaSinos.</p>
  <p><a class="btn btn-primary btn-lg">Cadastro</a>&nbsp;&nbsp;<a class="btn btn-primary btn-lg">Login</a></p>
</div>
